### Example 1:

1. Complete the method **return_42**, by making it **return 42**
2. Create a method, which must be called **my_method**, which takes two arguments and returns the result of its two arguments multiplied together

In [0]:
# Complete the method by making sure it returns 42. .
def return_42():
    return 42
    # Complete method here
    pass  # 'pass' just means "do nothing". Make sure to delete this!

# Create a method below, called my_method, that takes two arguments and returns the result of its two arguments multiplied together.
def my_method(a, b): return a * b

### Example 2:

Create a functon that prints a sequence of integers from 1 to 100, and inplace of every multiple of 3 print “m3” and inplace of every multiple of 5 print  “m5” and if the number is a multiple of both print "m 3&5"

### Examlpe 3:

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
    
Write a function that returns a list that contains only the elements that are common between the lists  Make sure your program works on two lists of different sizes.

### Example 4:

1.Create a dictionary variable, called **student**.
2. Modify a variable, **grades**, so it contains the value of a dictionary's key.
3. Implement a function calculating a total average grade for a class of students.

In [0]:
'''# Create a variable called student, with a dictionary.
# The dictionary must contain three keys: 'name', 'school', and 'grades'.
# The values for each must be 'Jose', 'Computing', and a tuple with the values 66, 77, and 88.'''
student = 

# Assume the argument, data, is a dictionary.
# Modify the grades variable so it accesses the 'grades' key of the data dictionary.
def average_grade(data):
    grades =   # Change this!
    return sum(grades) / len(grades)


# Implement the function below
# Given a list of students (a list of dictionaries), calculate the average grade received on an exam, for the entire class
# You must add all the grades of all the students together
# You must also count how many grades there are in total in the entire list
def average_grade_all_students(student_list):
    total = 0
    count = 0
    for student in student_list:
        # Implement here

    return total / count

### Example 5:

1. Extract all of the keys in the following dictionary:
{"day 1": 1, "day 2": 2, "day 3": 3, "day 4": 4, "day 5": 5,"day 6": 6}

### Example 6:

1. Extract the first 3 entries of the following list:
list1=[1,1,2,3,5,8,13,22]

### Example 7:

1. Extract student name from dictionary by using get() method: 

students= {'name': 'Dina ', 'id': 200086}

### Example 8:

1. Write a function that takes your name and returns it with upper case letters.