### Example 1:

1. Complete the method **return_42**, by making it **return 42**
2. Create a method, which must be called **my_method**, which takes two arguments and returns the result of its two arguments multiplied together

In [0]:
# Complete the method by making sure it returns 42. .
def return_42():
    return 42
    # Complete method here

# Create a method below, called my_method, that takes two arguments and returns the result of its two arguments multiplied together.
def my_method(a, b): return a * b

### Example 2:

Create a functon that prints a sequence of integers from 1 to 100, and inplace of every multiple of 3 print “m3” and inplace of every multiple of 5 print  “m5” and if the number is a multiple of both print "m 3&5"

In [50]:
def multiple35(end):
    for i in range(1, end+1):
        out = i
        if i % 15 == 0: out = "m 3&5"
        elif i % 3 == 0: out = "m3"
        elif i % 5 == 0: out = "m5"
        print(out)

multiple35(100)

1
2
m3
4
m5
m3
7
8
m3
m5
11
m3
13
14
m 3&5
16
17
m3
19
m5
m3
22
23
m3
m5
26
m3
28
29
m 3&5
31
32
m3
34
m5
m3
37
38
m3
m5
41
m3
43
44
m 3&5
46
47
m3
49
m5
m3
52
53
m3
m5
56
m3
58
59
m 3&5
61
62
m3
64
m5
m3
67
68
m3
m5
71
m3
73
74
m 3&5
76
77
m3
79
m5
m3
82
83
m3
m5
86
m3
88
89
m 3&5
91
92
m3
94
m5
m3
97
98
m3
m5

### Examlpe 3:

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
    
Write a function that returns a list that contains only the elements that are common between the lists  Make sure your program works on two lists of different sizes.

In [40]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

def common_elements(a, b):
    a = set(a)
    b = set(b)
    return a.intersection(b)

print(common_elements(a,b))

{1, 2, 3, 5, 8, 13}

### Example 4:

1.Create a dictionary variable, called **student**.
2. Modify a variable, **grades**, so it contains the value of a dictionary's key.
3. Implement a function calculating a total average grade for a class of students.

In [32]:
'''# Create a variable called student, with a dictionary.
# The dictionary must contain three keys: 'name', 'school', and 'grades'.
# The values for each must be 'Jose', 'Computing', and a tuple with the values 66, 77, and 88.'''
student = {'name': 'Jose', 'school': 'Computing', 'grades': (66, 77, 88)}

In [37]:
# Assume the argument, data, is a dictionary.
# Modify the grades variable so it accesses the 'grades' key of the data dictionary.
def average_grade(data):
    grades =   data['grades']
    return sum(grades) / len(grades)

print(average_grade(student))

77.0

In [53]:
# Implement the function below
# Given a list of students (a list of dictionaries), calculate the average grade received on an exam, for the entire class
# You must add all the grades of all the students together
# You must also count how many grades there are in total in the entire list
def average_grade_all_students(student_list):
    total = 0
    count = 0
    for student in student_list:
        count = count + 1
        total = total + average_grade(student)

    return total / count

In [54]:
student_list  = [{'name': 'Jose', 'school': 'Computing', 'grades': (66, 77, 88)}, 
                {'name': 'raed', 'school': 'Engineering', 'grades': (66, 77, 88)}, 
                {'name': 'abdulaziz', 'school': 'math', 'grades': (66, 77, 88)}]

average_grade_all_students(student_list)

77.0

### Example 5:

1. Extract all of the keys in the following dictionary:
{"day 1": 1, "day 2": 2, "day 3": 3, "day 4": 4, "day 5": 5,"day 6": 6}

In [55]:
z = {"day 1": 1, "day 2": 2, "day 3": 3, "day 4": 4, "day 5": 5,"day 6": 6}
print(z.keys())

dict_keys(['day 1', 'day 2', 'day 3', 'day 4', 'day 5', 'day 6'])

### Example 6:

1. Extract the first 3 entries of the following list:
list1=[1,1,2,3,5,8,13,22]

In [23]:
list1=[1,1,2,3,5,8,13,22]
print(list1[0:3])

[1, 1, 2]

### Example 7:

1. Extract student name from dictionary by using get() method: 

students= {'name': 'Dina ', 'id': 200086}

In [56]:
students= {'name': 'Dina ', 'id': 200086}
print(students.get('name'))

Dina

### Example 8:

1. Write a function that takes your name and returns it with upper case letters.

In [21]:
def upper(name):
    return name.upper()

print(upper('raed'))

RAED