In [375]:
import pandas as pd
%matplotlib inline

In [376]:
df = pd.read_csv('tmdb-movies.csv')

To get a list of columns

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

Just before proceeding with any thing, let's drop all dumpicates

In [378]:
duplicate_records = sum(df.duplicated())
df.drop_duplicates(inplace=True)
print('{} duplicate records have been deleted'.format(duplicate_records))

1 duplicate records have been deleted

From the `df.info()` does show that there is a number of missing values, to show how many are missing:

In [379]:
df.isnull().sum().sort_values(ascending=False)

homepage                7929
tagline                 2824
keywords                1493
production_companies    1030
cast                      76
director                  44
genres                    23
imdb_id                   10
overview                   4
popularity                 0
budget                     0
revenue                    0
original_title             0
revenue_adj                0
budget_adj                 0
runtime                    0
release_date               0
vote_count                 0
vote_average               0
release_year               0
id                         0
dtype: int64

Some of these columns are not needed, no need to waste any resource processing them: such as imdb_id, homepage

In [380]:
df.drop(labels=['imdb_id', 'homepage', 'tagline', 'overview', 'keywords', 'production_companies', 'id'], axis=1, inplace=True)

In [381]:
df_clean = df.dropna(axis=0)
df.shape[0] - df_clean.shape[0]

134

In [382]:
# To get any abnormalities:
df_clean.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10731.000000,1.073100e+04,1.073100e+04,10731.000000,10731.000000,10731.000000,10731.000000,1.073100e+04,1.073100e+04
mean,0.652615,1.480365e+07,4.031989e+07,102.468829,219.812972,5.964710,2001.259622,1.776530e+07,5.200623e+07
std,1.004804,3.106456e+07,1.176524e+08,30.493873,578.815324,0.930283,12.820151,3.446630e+07,1.454252e+08
min,0.000188,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,0.210765,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,0.387081,0.000000e+00,0.000000e+00,99.000000,39.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,0.720889,1.600000e+07,2.500000e+07,112.000000,148.000000,6.600000,2011.000000,2.110885e+07,3.470546e+07
max,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

Let's see how many unique cast we have:

In [383]:
s = set()
for cast in df_clean['cast']:
    s.update(cast.split('|'))
print("There are: {num_casts} unique cast".format(num_casts=len(s)))

There are: 18930 unique cast

One initial idea I had is to add 18930 column to the dataframe, the index name of those are the cast names, and values are boolean which represent whether the cast has been in the movie or not. But let's be honest, such details are useless. Another approach, let's see how many casts listed per each movie:

In [384]:
s = set()
for cast in df_clean['cast']:
    s.update([len(cast.split('|'))])
print(s)

{1, 2, 3, 4, 5}

So, the number of casts listed for each movie is between 1 and 5.

In [386]:
df_clean.head()

,popularity,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [368]:
def extract_actor(t, i):
    print(t, i)
    try:
        return t.split('|')[i]
    except IndexError:
        return ''
    
df_clean = df_clean.assign(actor1=extract_actor(df_clean.cast, 0))

0        Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1        Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2        Shailene Woodley|Theo James|Kate Winslet|Ansel...
3        Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4        Vin Diesel|Paul Walker|Jason Statham|Michelle ...
5        Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...
6        Arnold Schwarzenegger|Jason Clarke|Emilia Clar...
7        Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...
8        Sandra Bullock|Jon Hamm|Michael Keaton|Allison...
9        Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...
10       Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...
11       Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...
12       Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...
13       Adam Sandler|Michelle Monaghan|Peter Dinklage|...
14       Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...
15       Samuel L. Jackson|Kurt Russell|Jennifer Jason ...
16       Liam Neeson|Forest Whitaker|Maggie Grace|Famke...
17       Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...
18       Lily James|Cate Blanchett|Richard Madden|Helen...
19       Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...
20       Britt Robertson|George Clooney|Raffey Cassidy|...
21       Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...
22       Dwayne Johnson|Alexandra Daddario|Carla Gugino...
23       Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...
24       Christian Bale|Steve Carell|Ryan Gosling|Brad ...
25       Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...
26       Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...
27       Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...
28       Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...
29       Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...
                               ...
10836    Cary Grant|Samantha Eggar|Jim Hutton|John Stan...
10837    George Peppard|James Mason|Ursula Andress|Jere...
10838    Burt Lancaster|Lee Marvin|Robert Ryan|Woody St...
10839    Christopher Shea|Sally Dryer|Kathy Steinberg|A...
10840    Michael Caine|Paul Hubschmid|Oskar Homolka|Eva...
10841    Will Hutchins|Millie Perkins|Jack Nicholson|Wa...
10842    Sterling Holloway|Junius Matthews|Sebastian Ca...
10843    Charlton Heston|Laurence Olivier|Richard Johns...
10844    James Coburn|Lee J. Cobb|Gila Golan|Edward Mul...
10845    Sid James|Jim Dale|Angela Douglas|Kenneth Will...
10846    Christopher Lee|Barbara Shelley|Andrew Keir|Fr...
10847    Peter Cushing|Edward Judd|Carole Gray|Eddie By...
10848    Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...
10849    Michael Caine|Shirley MacLaine|Herbert Lom|Joh...
10850    Paul Newman|Lauren Bacall|Julie Harris|Arthur ...
10851    Virginia McKenna|Bill Travers|Geoffrey Keen|Pe...
10852    Henry Fonda|Joanne Woodward|Jason Robards|Paul...
10853    Michael Caine|Shelley Winters|Millicent Martin...
10854    Marlon Brando|Jane Fonda|Robert Redford|E.G. M...
10855    Don Knotts|Joan Staley|Liam Redmond|Dick Sarge...
10856    Dean Jones|Suzanne Pleshette|Charles Ruggles|K...
10857    Steve McQueen|Karl Malden|Brian Keith|Arthur K...
10858    Carl Reiner|Eva Marie Saint|Alan Arkin|Brian K...
10859    Rock Hudson|Salome Jens|John Randolph|Will Gee...
10860    Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...
10861    Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862    James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863    Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864    Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865    Harold P. Warren|Tom Neyman|John Reynolds|Dian...
Name: cast, Length: 10731, dtype: object 0

AttributeError: 'Series' object has no attribute 'split'

In [374]:
df_clean['cast'].isna().any()

False